# compiled output
/dist
/node_modules

# Environment
.env
prisma/dev.db

# Logs
Logs

# Tests
/coverage

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json